body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #dfbbbb;
}

.container {
  text-align: center;
}

h1,
h2 {
  margin-bottom: 20px;
  color: #333;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 103px);
  gap: 5px;
}

.cell {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #333;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell:hover {
  background-color: #dfabab;
}

.message {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
}

.restart-button,
.main-menu-button,
.start-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  transition: background-color 0.3s;
}

.restart-button:hover,
.main-menu-button:hover,
.start-button:hover {
  background-color: #555;
}

.start-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  display: none;
}

.win-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.win-message {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
}
